/* colors of the web */
/* white: #FFFFFF */
/* text color: #333333 */
/* btn color: #DDFE95 */
/* btn hover: #FFFFFF */
/* cream color: #ECEBE3 */
/* green color: #0C4449 */
/* yellow color: #EEFEC8 */
/* green text  color: #2B3F00 */

/* img src: https://framerusercontent.com/images/LdAYNJAKzxwCa3qF64G6vMzfwM.png */
/* img src: https://framerusercontent.com/images/gSuVif3x9rXhY6Jf35Lnyt2UsA.webp */
/* img src: https://framerusercontent.com/images/mxcT012ACXxP279mWVpKP5x2pWw.png?scale-down-to=1024 */
/* img src: https://framerusercontent.com/images/dGPudoHPiY6Rf5vol5fAWQLZwy0.png?scale-down-to=1024 */
/* img src: https://framerusercontent.com/images/VZZGxh5yv5qEvQTuz4r8NOrrXI.png?scale-down-to=1024 */
/* img src: https://framerusercontent.com/images/v800QJ74VDfHnQQBcdmLouSH5Y.png?scale-down-to=512 */
/* img src: https://framerusercontent.com/images/0ywALDYQ9tPSoOj2Yj5kltQtdE.png?scale-down-to=512 */
/* img src: https://framerusercontent.com/images/EeYTIKl7FWRds5LWqcLvIY4asc.svg */
/* img src: https://framerusercontent.com/images/mIQrrfrzi9EVF5qXnYxErqumOeA.svg */
/* img src: https://framerusercontent.com/images/3WMiMqQLneeChMRsMjKvOn07Vo.svg */
/* img src: https://framerusercontent.com/images/Zk6qkHRXEzUBJZcatsRDp9dDK3o.png */
/* img src: https://framerusercontent.com/images/F6LHg7EdlYgmYmNqP0abFduWw.png */
/* img src: https://framerusercontent.com/images/pP7pC52m2JO7rST8PO5txIHovao.png?scale-down-to=2048 */

/* video src: https://framerusercontent.com/assets/Occ7ycWFiqKx8dGMYE7DxtT8Om8.mp4 */
/* video src: https://framerusercontent.com/assets/NaSej4JlqYbr1zO8bWMoAdXoTws.mp4 */
/* video src: https://framerusercontent.com/assets/ajuV0vcADUBKAnjynwEmXxnntk.mp4 */

/* img src: https://framerusercontent.com/images/VHvxv6bmHkkedD1pj9W4dblZpwU.png */
/* img src: https://framerusercontent.com/images/w1f1Dn28jkELIVse7ykOYu4Jysw.svg */

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.ri-menu-line {
  display: none;
}

body {
  font-family: "Figtree", sans-serif;
}

.container {
  padding: 30px 250px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: inline-flex;
  align-items: center;
  gap: 100px;
}

.header__left h2 {
  color: #333333;
  font-weight: 500;
}

.header__left ul {
  display: inline-flex;
  gap: 30px;
}

.header__left ul li a {
  color: #333333;
  font-weight: 300;
}

.header__right {
  display: inline-flex;
  align-items: center;
  gap: 30px;
}

.header__right ul {
  display: inline-flex;
  gap: 30px;
}

.header__right ul li a {
  color: #333333;
  font-weight: 300;
}

.header__right .btn {
  background-color: #ddfe95;
  color: #333333;
  padding: 20px 30px;
  border-radius: 30px;
  font-weight: 300;
}

.header__right .btn i {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  margin-left: 15px;
}

.hero {
  padding: 20px;
}

.hero .hero__content {
  background: url("https://framerusercontent.com/images/LdAYNJAKzxwCa3qF64G6vMzfwM.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  height: 80vh;

  padding: 200px 300px;
}
.hero__content h1 {
  font-family: "Crimson Pro", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 80px;
  margin-bottom: 20px;
}

.hero__content p {
  color: #fff;
  font-size: 18px;
  max-width: 600px;
  padding-bottom: 50px;
}

.hero__content .btn-explore {
  color: #333;
  background-color: #ddfe95;
  padding: 15px 20px;
  border-radius: 30px;
}

.hero__content i {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
}

.services__head {
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.services__head h4 {
  font-family: "Crimson Pro", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 50px;
  max-width: 900px;

  padding-bottom: 60px;
}

.services__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 200px;

  margin-top: 30px;
}

.services__item {
  height: 430px;
}

.services__item h6 {
  font-size: 22px;
  color: #333333;
  font-weight: 400;
  padding-bottom: 20px;
}

.services__items h3 {
  color: #333333;
  padding: 10px 0;
}

.services__item p {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
}

.services__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.services__expertise {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.services__expertise--text {
  max-width: 500px;
}

.services__expertise--text h5 {
  font-family: "Crimson Pro", sans-serif;
  color: #333333;
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 10px;
}

.services__expertise--text p {
  color: #333333;
  font-size: 22px;
}

.services__expertise--area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.services__expertise--area .first {
  justify-self: end;
}

.services__expertise--area div {
  margin: 10px;
}

.services__expertise--area div p {
  display: inline-block;
  background-color: #ecebe3;
  padding: 15px;
  color: #333333;
  border-radius: 10px;
  font-size: 20px;
}

.impact h2 {
  font-family: "Crimson Pro", sans-serif;
  font-size: 50px;
  color: #333333;
  font-weight: 400;
  padding-bottom: 50px;
}

.impact__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.impact__items--one {
  background-color: #0c4449;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  border-radius: 10px;
}

.impact__items--one .para {
  font-family: "Crimson Pro", sans-serif;
  font-size: 32px;
  font-weight: 300;
  padding-bottom: 20px;
}

.impact__items--one .profile h6 {
  font-size: 22px;
  font-weight: 400;
}

.impact__items--one .profile p {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.impact__items--one .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.impact__items--one .button a {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
}

.impact__items--one .button i {
  font-size: 20px;
  background-color: #fff;
  color: #333333;
  padding: 10px;
  border-radius: 50%;
}

.impact__items--two {
  display: flex;
  background-color: #eefec8;
  border-radius: 10px;
}

.impact__items--two .left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.impact__items--two .left div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.impact__items--two .left div a {
  color: #0c4449;
  font-size: 20px;
  font-weight: 300;
}

.impact__items--two .left div i {
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
  color: #333333;
}
.impact__items--two .left .para {
  font-size: 26px;
  color: #0c4449;
}

.impact__items--two .right {
  flex-basis: 50%;
}

.impact__items--two .right img {
  height: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}

.impact__items--three {
  background-color: #eefec8;
  display: flex;
  border-radius: 10px;
}

.impact__items--three .left {
  flex-basis: 55%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.impact__items--three .left p {
  font-size: 26px;
  font-weight: 300;
  color: #0c4449;
}

.impact__items--three .left .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.impact__items--three .left .button a {
  font-size: 20px;
  font-weight: 300;
  color: #0c4449;
}

.impact__items--three .left .button i {
  font-size: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
  color: #333333;
}

.impact__items--three .right {
  flex-basis: 45%;
}

.impact__items--three .right img {
  border-radius: 0 10px 10px 0;
  height: 100%;
  object-fit: cover;
}

.impact__items--four {
  background-color: #4b8f9669;
  border-radius: 10px;
  color: #0c4449;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.impact__items--four .top h3 {
  font-size: 120px;
  font-weight: 400;
  line-height: 1;
  padding-bottom: 20px;
}

.impact__items--four .top p {
  font-size: 18px;
  padding-bottom: 20px;
}

.impact__items--four .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.impact__items--four .bottom a {
  color: #0c4449;
  font-size: 20px;
  font-weight: 300;
}

.impact__items--four .bottom i {
  font-size: 22px;
  background-color: #fff;
  border-radius: 50%;
  padding: 15px;
}

.system {
  margin-top: 100px;
  border-top: 1px solid #333333;
  padding-top: 50px;
  padding-bottom: 100px;

  display: flex;
  flex-direction: column;
  gap: 100px;
}

.system__content {
  display: flex;
  justify-content: space-between;
}

.system__content .left h6 {
  font-size: 160px;
  font-weight: 400;
  color: #333333;
}

.system__content .right {
  flex-basis: 60%;
}

.system__content .right h4 {
  font-family: "Crimson Pro", sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #333333;
  padding-bottom: 50px;
}

.system__content .right .img-split {
  display: flex;
  gap: 20px;
}

.system__content .right img {
  width: 200px;
  background-color: #ecebe3;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.system__content .right .small-faq {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  padding: 30px 0;
  cursor: pointer;
}

.system__content .right .small-faq div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.system__content .right .small-faq div p {
  font-size: 22px;
  color: #333333;
  font-weight: 300;
}

.system__content .right .small-faq div i {
  font-size: 20px;
  color: #333333;
}

.system__content .right .small-faq .text {
  font-size: 20px;
  padding-top: 30px;
  color: #333333;
  font-weight: 300;
  display: none;
}
.system__content .right .small-faq .text.active {
  display: block;
}

.team {
  background-color: #ecebe3;
}

.team .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team .head h3 {
  font-family: "Crimson Pro", sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #333333;
}

.team .head a {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ddfe95;
  padding: 10px 30px;
  border-radius: 30px;
  color: #333333;
  font-weight: 300;
}

.team .head a i {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
}

.team .team__items {
  display: flex;
  gap: 20px;
}

.team .team__items .team__item:nth-child(2) {
  background: url("https://framerusercontent.com/images/F6LHg7EdlYgmYmNqP0abFduWw.png");
  background-position: center;
  background-position: cover;
}

.team .team__items .team__item:nth-child(3) {
  background: url("https://framerusercontent.com/images/pP7pC52m2JO7rST8PO5txIHovao.png?scale-down-to=2048");
  background-position: center;
  background-size: cover;
}

.team .team__items .team__item {
  background: url("https://framerusercontent.com/images/Zk6qkHRXEzUBJZcatsRDp9dDK3o.png");
  background-repeat: no-repeat;
  background-size: cover;

  margin-top: 50px;
  flex: 0.5;
  height: 750px;
  border-radius: 10px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.team .team__items .team__item .text {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: #fff;
}

.team .team__items .team__item .text h4 {
  font-family: "Crimson Pro", sans-serif;
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 10px;
}

.team .team__items .team__item .text p {
  font-size: 18px;
}

.team .team__items .team__item.active {
  flex: 1;
}

.news {
  background-color: #ecebe3;
}

.news .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news .head h3 {
  font-family: "Crimson Pro", sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #333333;
}

.news .head a {
  background-color: #ddfe95;
  color: #333333;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 300;

  display: flex;
  align-items: center;
  gap: 10px;
}

.news .head a i {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
}

.news .news__items {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  row-gap: 40px;
}

.news .news__items .news__item span {
  display: block;
  font-size: 18px;
  color: #b0b0b0;
  font-weight: 300;
  border-bottom: 1px solid #b0b0b0;
  padding-bottom: 10px;
}

.news .news__items .news__item h6 {
  padding-top: 10px;
}

.news .news__items .news__item h6 a {
  font-family: "Crimson Pro", sans-serif;
  font-size: 26px;
  color: #333333;
  font-weight: 400;
}

.news .news__items .news__item p {
  border-bottom: 1px solid #b0b0b0;
  padding-bottom: 10px;
  padding-top: 70px;
  color: #b0b0b0;
  font-weight: 300;
}

.get-started {
  background-color: #ecebe3;
  padding: 10px 20px;
}

.get-started__content {
  background: url(" https://framerusercontent.com/images/VHvxv6bmHkkedD1pj9W4dblZpwU.png");
  background-position: center;
  background-size: cover;
  padding: 180px 100px;
  border-radius: 10px;
}

.get-started__content div {
  max-width: 500px;
}

.get-started__content div h3 {
  font-family: "Crimson Pro", sans-serif;
  font-size: 65px;
  color: #fff;
  font-weight: 300;
  padding-bottom: 20px;
}

.get-started__content div p {
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
  padding-bottom: 20px;
}

.get-started__content div a {
  background-color: #ddfe95;
  color: #333333;
  padding: 5px 30px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  border-radius: 30px;
}

.get-started__content div a i {
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
}

footer {
  background-color: #333333;
}

footer .footer-top {
  display: flex;
  flex-direction: column;
  align-items: end;
}

footer .footer-top p {
  max-width: 700px;
  color: #fff;
  font-size: 22px;
  line-height: 1.5;
  padding-bottom: 50px;
}

footer .footer-bottom {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #c0c0c038;
  padding-bottom: 50px;
}

footer .footer-bottom ul p {
  color: #b0b0b0;
  text-transform: uppercase;
  padding-bottom: 20px;
}

footer .footer-bottom ul li {
  margin: 10px 0;
}

footer .footer-bottom li a {
  color: #fff;
  font-weight: 300;
}

footer .footer-bottom li a:hover {
  text-decoration: underline;
}

/* Responsive */

@media screen and (max-width: 1440px) {
  .container {
    padding: 30px 50px;
  }

  .hero__content {
    padding: 200px 100px !important;
  }

  .hero__content h1 {
    font-size: 60px;
  }

  .services__items {
    grid-template-columns: 1fr 1fr !important;
    row-gap: 200px !important;
  }

  .news__items {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media screen and (max-width: 980px) {
  .header__left ul li {
    display: none;
  }

  .header__right ul li {
    display: none;
  }

  .header__right .btn {
    display: none;
  }

  .menu {
    display: block;
    font-size: 22px;
    color: #333333;
    cursor: pointer;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px !important;
  }

  .hero__content h1 {
    text-align: center;
    font-size: 40px !important;
  }

  .hero__content p {
    text-align: center;
    font-size: 16px !important;
  }

  .services .services__head h4 {
    text-align: center;
    font-size: 36px;
  }

  .services__items {
    grid-template-columns: 1fr !important;
  }

  .services__expertise {
    grid-template-columns: 1fr !important;
    place-items: center;
    gap: 20px;
    text-align: center;
  }

  .impact__items {
    grid-template-columns: 1fr !important;
    place-content: center !important;
  }

  .impact__items .right {
    display: none !important;
  }

  .impact__items .left {
    flex-basis: 100% !important;
  }

  .impact__items img {
    display: none;
  }

  .system__content {
    flex-direction: column;
  }

  .team .team__content .head {
    flex-direction: column;
    gap: 1rem;
    align-items: start;
  }

  .team .team__items {
    display: grid;
    grid-template-columns: 1fr;
  }

  .news .news-content .head {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .news__items {
    grid-template-columns: 1fr !important;
  }

  .get-started .get-started__content div h3 {
    font-size: 50px;
    line-height: 1;
  }

  .get-started .get-started__content div p {
    font-size: 14px;
  }
}
